* linguist-vendored=false
*.sh   linguist-language=Shell
*.ts   linguist-language=TypeScript
*.tsx  linguist-language=TypeScript
*.c    linguist-language=C
*.cpp  linguist-language=C++
*.go   linguist-language=Go
*.asm  linguist-language=Assembly
*.s    linguist-language=Assembly
